@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

#intro_left {
    text-align: left;
    flex: 50%;
}

#intro_left>h1 {
    margin: 0;
}

#intro_content {
  margin-top: 5%;
}

#intro_content > h1 {
  margin-bottom: 8%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3.5em;
}

#intro_content > p {
  font-size: larger;
}


#header {
    height: 100vh;
    text-align: left;
}

#about_me {
  margin-left: calc(50% + 1em)
}

#projects > div.project-header-div > p {
  max-width: 50%;
}


#hello_header {
  margin-top: 20%;
}

#projects > p {
  max-width: 50%;
}

section.special header.major h2:after, article.special header.major h2:after {
  margin-left: 0;
  margin-right: auto;
}


.offwhite-background-section {
    background-color: #F8F7F2;
}

.color-background-section {
  background: hsla(239, 88%, 74%, 1);

background: linear-gradient(115deg, hsla(239, 88%, 74%, 1) 0%, hsla(0, 90%, 81%, 1) 52%, hsla(187, 100%, 89%, 1) 100%);

background: -moz-linear-gradient(115deg, hsla(239, 88%, 74%, 1) 0%, hsla(0, 90%, 81%, 1) 52%, hsla(187, 100%, 89%, 1) 100%);

background: -webkit-linear-gradient(115deg, hsla(239, 88%, 74%, 1) 0%, hsla(0, 90%, 81%, 1) 52%, hsla(187, 100%, 89%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8183F7", endColorstr="#FAA2A2", GradientType=1 );
}

#about {
  height: 90vh;
}

img#uw_image {
    width: 124px; 
    flex-direction: row;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 15px;
    padding-right: 5px;
  
}
#projects > div > div > div.col-6.project > p {
  margin-left: 0;
}



span.project-number {
  font-family: 'Mogra', cursive;
  font-size: 1.2em;
  margin-right: .4em;
}

.project-header-div {
  margin-bottom: 20%;
}

#logo_div > span {
  padding: 10px;
}

div#logo_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10%;
}

div#logo_div_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


span.shadow_wrap {
  filter: drop-shadow(-1px 4px 2px rgba(50, 50, 0, 0.5))
}


img#utexas_image {
  width: 124px;
  flex-direction: row;
  display: block; 
  padding-left: 5px;
  /* transform: translate(260px, -10px); */
}

img#hackathon_image {
  width: 370px; 
  clip-path: inset(0% 6% 4% 6% round 25px);
  transform: translate(0px, 0px);
}

img#review_time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

div.row.project {
  margin-top: 10%;
}


  h4.hide_larger_display {
    display: none;
  }

  #projects {
    text-align: left;
  }

  @media(max-width:1000px)
  {

    img#review_time {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    
    .timeline{
      width:100%;
    }

    h4.hide_larger_display {
      display: none;
    }
  }
  @media(max-width:767px){

    #projects {
      text-align: center;
    }

    #projects > div > div > div.col-6 {
      width: 100%;
    }

    #projects > div > div > div.project {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }

    #projects > div.project-header-div > p {
      max-width: 100%;
      
    }

    .project-header-div {
      margin-bottom: 3em;
    }

    #about {
      height: auto;
    }

#about_me {
  margin-left: 0
}

#header {
  height: 70vh;
}
    div#logo_div {
      margin-right: 0;
    }

    h4.hide_smaller_display {
      display: none;
    }

    h4.hide_larger_display {
      display: block;
    }

    
    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    
    .timeline ul li.timeline_entry
    {
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    
    .timeline ul li.timeline_entry:before
    {
      top:-18px;
      left:16px;
    }
    .timeline ul li.timeline_entry .time
    {
      top:-30px;
      left:50px;
      right:inherit;
      padding-left: 0;
    }
  }