html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15% 15%; /* Updated horizontal padding for mobile */
  
  height: 100%;
}


.fa-button-span {
  margin-right: 4px;
}

a.link {
  text-decoration: none;
}

a.link.button {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button-container {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.projects {
  margin: 10%;
  margin-top: 0;
}

.material-button {
  line-height: normal;
  height: 50px;
  display: inline-block;  
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.material-button:hover {
  background-color: #1976D2;
}

.material-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}




h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 400;
}

.header-div {
  margin-bottom: 15%;
  margin-top: 15%;
}

p {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}


/* f */

.footer {
  /* background-color: #f2f2f2; */
  padding: 1rem;
  text-align: center;
  font-size: 0.5em;
  opacity: 0.5;
}

footer > p {
  font-size: 0.9em;
}

.svg-image {
  width: 3.5rem;
  height: auto;
}

#linkedin-svg-image {
  transform: translateY(2px);
  width: 1rem;
  height: auto;
  columns: white;
  stroke: white;
}

.emoji {
  font-size: 24px;
}

.strong {
  font-weight: 400;
}

.project-title {
  font-size: 2em;
}

li {
  margin-top: .5em;
  font-size: 1.2rem;
}

p#last-job-finder {
  margin-bottom: 0;
}




.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* You can adjust the height to your liking */
}

#job-finder-img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
}

img#time-management {
  width: 100%;
  padding: 10% 0%;
}

.yellow-background {
  background-color: #F2BF5E;
}

.off-white-background {
  background-color: #F5F3EE;
}

.white-background {
  background-color: white;
}


/* Color Theme Swatches in Hex */
.yellow-color { color: #F2BF5E; }
.grey-color { color: #D9D7D7; }
.light-black-color {color: #262626}
.black-color { color: #0D0D0D; }
.dark-grey-color {color: #595959}


/* 
/* Color Theme Swatches in Hex */
/* .Zelt-Website-Design-1-hex { color: #F2BF5E; }
.Zelt-Website-Design-2-hex { color: #D9D0C7; }
.Zelt-Website-Design-3-hex { color: #262626; }
.Zelt-Website-Design-4-hex { color: #595959; }
.Zelt-Website-Design-5-hex { color: #0D0D0D; } */

@media screen and (min-width: 600px) {

  .container {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15%; /* Updated horizontal padding for mobile */
    padding-bottom: 8rem;
    height: 100vh;
  }

  img#time-management {
    
    padding: 5% 10%;
  }

  p#last-job-finder {
    margin-bottom: 2em;
  }


  li.lessons-learned {
    margin-top: 1em;
  }

  .image-container {
    margin: 2rem;
    height: 400px; /* You can adjust the height to your liking */
  }

  .button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p.centered {
    max-width: 50vw;
  }

  p {
    font-size: 1rem;
  }

  .header-div {
  margin-bottom: 8%;
  margin-top: 8%;
  }

  .container.full-height {
    min-height: 100vh;
    display: flex;
    align-items: center;
    
  }

  .svg-image {
    width: 3.5rem;
    height: auto;
  }

  a.link.button {
    color: white;
    text-decoration: none;
    /* padding-left: 2rem;
    padding-right: 2rem; */
  }
}
