body {
  font-family: Helvetica, 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-top: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5%; /* Updated horizontal padding for mobile */
  padding-bottom: 8rem;
}

.fa-button-span {
  margin-right: 4px;
}

a.link {
  text-decoration: none;
}

a.link.button {
  color: white;
  text-decoration: none;
}

.button-container {
  /* margin-top: 2rem; */
  width: 375px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-color-button {
  background-color: #8D2B00;
}

.primary-color-button {
  background-color: #00628D;
}


.material-button {
  height: 48px;
  margin: 6px;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.material-button:hover {
  background-color: #1976D2;
}

.material-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}




h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header-div {
  margin-bottom: 2rem;
}

.blue-color {
  color: #00628D;
}

p {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}

@media screen and (min-width: 600px) {
  p {
    max-width: 50vw;
  }
  /* .container {
    padding-top: 0%;
  } */
}

/* f */

.footer {
  /* background-color: #f2f2f2; */
  padding: 1rem;
  text-align: center;
  font-size: 0.5em;
  opacity: 0.5;
}

footer > p {
  font-size: 0.9em;
}

.svg-image {
  width: 3rem;
  height: auto;
}

#linkedin-svg-image {
  transform: translateY(2px);
  width: 1rem;
  height: auto;
  columns: white;
  stroke: white;
}
